.article-block {
  float: left;
  height: 19em;
  position: relative;
  margin: .5em .6em .5em 0;
  img {
    z-index: -10;
    max-width: none;
  }

  &.small {
    width: 24%;
  }

  &.medium {
    width: 32%;
  }

  &.large {
    width: 48%;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  h2 {
    margin: 0 .5em;
    font-size: 1.75em;
    letter-spacing: 1px;
    line-height: 1;
  }

  .category {
    margin: 1em;
    margin-bottom: 0;
    font-size: .9em;
    max-width: 10em;
  }

  time {
    position: absolute;
    top: 1.25em;
    right: 1em;
    font-size: .9em;
  }

//Color definitions for article block gradient and hover state

  &.about-the-ma-program {
    @include colorset($color-about-the-ma-program,
    $color-start-about-the-ma-program,$color-end-about-the-ma-program)
  }

  &.biomimicry {
    @include colorset($color-biomimicry,
    $color-start-biomimicry,$color-end-biomimicry)
  }

  &.eco-careers {
    @include colorset($color-eco-careers,
    $color-start-eco-careers,$color-end-eco-careers)
  }

  &.green-biz {
    @include colorset($color-green-biz,
    $color-start-green-biz,$color-end-green-biz)
  }

  &.green-graphic-packaging {
    @include colorset($color-green-graphic-packaging,
    $color-start-green-graphic-packaging,$color-end-green-graphic-packaging)
  }

  &.innovation-entrepreneurship {
    @include colorset($color-innovation-entrepreneurship,
    $color-start-innovation-entrepreneurship,$color-end-innovation-entrepreneurship)
  }

  &.natural-leadership {
    @include colorset($color-natural-leadership,
    $color-start-natural-leadership,$color-end-natural-leadership)
  }
}
