.main-nav {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em;

  h2 {
    @include visuallyhidden;
  }

  ul {
    list-style-type: none;
  }
  li {
    float: left;
    margin-right: .8em;
    padding: 0.4em;
    border-bottom: 0.4em solid transparent;
    &:hover {
      border-bottom: 0.4em solid $black;
    }
  }
  a {
    color: $black;
    text-decoration: none;
  }
}
