.utility-nav {
  font-size: .75em;
  line-height: 1;
  margin: 0 .5em;
  padding: 0.25em;
  ul {
    @include clearfix;
    list-style-type: none;
    padding-left: 1.5em;
  }
  li {
    float: left;
    border-left: 1px solid $black;
    opacity: .3;
    padding: 0 .5em;
    margin-left: 1.75em;
    font-weight: bold;
    max-width: 9em;
    height: 2.5em;
    &.logo-mcad {
      border-left: none;
      margin-left: 1.3em;
    }
    &:hover {
      opacity: .9;
    }
    &.brochure {
      margin-left: 0;
      background-image: url("../images/sdo_broch.png");
      background-repeat: no-repeat;
      background-position: 66px 0;
    }
  }

  a {
    text-decoration: none;
    color: $black;
  }

  li {
    float: left;
  }
}
