// variable.scss

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

//Colors
$white: #fff;
$black: #333;
$gray: #acacac;
$gray-light: #ccc;
$gray-lighter: #eee;
$color-logo-sdo: #0850FC;

//Category colors
$color-about-the-ma-program: #D43BEF;
$color-biomimicry: #EA0094;
$color-eco-careers: #D6DD00;
$color-green-biz: #FF6E00;
$color-green-graphic-packaging: #EF0000;
$color-innovation-entrepreneurship: #00EA90;
$color-natural-leadership: #08F4FC;

//Gradient start colors
$color-start-about-the-ma-program: rgba(212,59,239,.8);
$color-start-biomimicry: rgba(234,0,148,.8);
$color-start-eco-careers: rgba(214,221,0,.8);
$color-start-green-biz: rgba(255,110,0,.8);
$color-start-green-graphic-packaging: rgba(239,0,0,.8);
$color-start-innovation-entrepreneurship: rgba(0, 234, 144,.8);
$color-start-natural-leadership: rgba(8,244,252,.8);

//Gradient end colors:
$color-end-about-the-ma-program: rgba(212,59,239,0);
$color-end-biomimicry: rgba(234,0,148,0);
$color-end-eco-careers: rgba(214,221,0,0);
$color-end-green-biz: rgba(255,110,0,0);
$color-end-green-graphic-packaging: rgba(239,0,0,0);
$color-end-innovation-entrepreneurship: rgba(0, 234, 144,0);
$color-end-natural-leadership: rgba(8,244,252,0);
